{% load data %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
{% block content %}

<body>
  <table>
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Url</th>
                    <th scope="col">Domain name</th>
                    <th scope="col">View Details</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for report in data %}
                        <td>{{report.id}}</td>
                        <td>{{report.url}}</td>
                        <td>{{report.domain}}</td>
                        <td><a href="{% url 'page_speed_insights:detail_data' report.id %}">View Details</a></td>
                </tr>
                    {% endfor %}
                </tbody>
            </table>

</body>
{% endblock %}

</html>

