{% extends 'base.html' %}
{% load data %}
{% load static %}


{% block extrastyle %}
    <link href="{% static 'style.css' %}" rel="stylesheet" />
    <link href="{% static 'ajax_datatable/css/style.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap4.min.css">
{% endblock extrastyle %}

{% block extra_header %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'domain:dashboard' %}">My Reports</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'domain:add' %}">Generate New Report</a>
    </li>
{% endblock %}

{% block content %}

    <label style="font-size:22px;"><b>If you want generate report after 3 days click here</b></label>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="on_off" value="True" id="new_chat_message_received">
        <input type="hidden" value="{{New_chat_message.is_enable}}" id="new_chat_message_received_">
    </div>
    <table id="datatable_permissions">
    </table>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{% static 'ajax_datatable/js/utils.js' %}"></script>
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<script>
   $(document).on("change", ".on_off", function () {
         if ($(this).is(':checked')) {
            var flag = "True"
          } else {
            var flag = "False"
          }
         var id = $(this).attr('id');
            $.ajax({
                url: "{% url 'page_speed_insights:flag_data'  domain.id %}",
                type: 'POST',
                headers: {"X-CSRFToken": "{{csrf_token}}"},
                data: {"id": id, "flag": flag},
                success: function (response) {
                },
            })
        });
    $(document).ready(function() {
        table = AjaxDatatableViewUtils.initialize_table(
            $('#datatable_permissions'),
            "{% url 'page_speed_insights:page_insight_list' domain.id %}",
            {
                // extra_options (example)
                processing: false,
                autoWidth: false,
                full_row_select: true,
                scrollX: false,
                details: false,
                full_row_select: false,
            },
        );
    });

</script>
{% endblock %}
